<h1>POSTS</h1>
<table>
    <tr>
        <th>TITULO</th>
        <th>IMAGEN</th>
        <th>CONTENIDO</th>
        <th>FECHA CREACION</th>
    </tr>
    <% @posts.present? && @posts.each do |post|%>
    <tr>
        <td><%= post.title%></td>
        <td><%=image_tag post.image_url%></td>
        <td><%= post.content%></td>
        <td><%= post.created_at%></td>
    </tr>
    <% end %>
</table>
